

table.mitabla thead td {
    background-color: lightgray;
    font-style: italic;
    text-align: center;
}

table.mitabla tbody td {
    background-color: beige;
}

table.mitabla td {
    border: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin:0;
}

table.mitabla {
    border: 1px solid black;
}