body {
    padding: 40px;
    background-color: red;
}

div.circulo {
    height: 50px;
  
    width: 50px;
    background-color: grey;
    border-radius: 50px;
}

h1.pequenyo {
    display: none;
}

div.circulo.grande {
    width: 70px;
    height: 70px;
    border-radius: 70px;;
}

div.circulo.especial {
    background-color: red;
    order: -1;
}

div.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row-reverse;
    background-color: beige;
    min-height: 170px;
}

@media only screen and (max-width: 800px) {
    body {
    background-color: YELLOW;
    }
  
    h1.pequenyo {
        display: block;
    }

    h1.grande {
        display: none;
    }
 }

@media only screen and (max-width: 500px) {
    body {
    background-color: lightblue;
    }
    h1 {
        color: red;
    }
 }
