
@import url('https://fonts.googleapis.com/css?family=Kalam:300|Kaushan+Script&display=swap');


.tipo-kalam{
    font-family: 'Kalam', cursive;
}

.tipo-kaushan{
    font-family: 'Kaushan Script', cursive;
}


body {
    background-color: blue;
    font-family: 'Kalam', cursive;
}

h1 {
    font-family: 'Kaushan Script', cursive; 
}

img.saltar {
    display: block;
    margin-bottom: 20px;
}

div.caja{
    background-color: red;
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

div.caja.verde {
    background-color: green;
}

div.caja.oculto {
    visibility: hidden;
}

span.destacado{
    color: red;
    border: 1px red solid;
    padding: 2px;
    background-color: white;
    display: block;
}

xxx.zzz {
    color: blue;
}

img.borde{
    border-left: 4px solid red;
    padding-left: 40px;
    background-color: white;
    margin: 20px;
}

.vermell {
    color: red;

}


dt {
    color: red;
    font-weight: bold;
}