
h1.especial {
    color: red;
}

h1.especial:hover {
    border: 1px solid red;
    color: green;
    cursor: pointer;
}

ul.listax li:first-child {
    color: red;
}

ul.listax li:last-child {
    text-decoration: underline;
}

div.contenedor div {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: grey;
    border-radius: 40px;
}

div.contenedor div p{
    color: red;
}

div.contenedor div:last-child {
    background-color: red;
}

div.contenedor div:nth-child(2) {
    background-color: yellow;
}


img:hover {
    opacity: 0.6;
}


a:link, a:visited {
    color: black;
    text-decoration: none;
    font-style: italic;
    border-bottom: 3px red solid;
}

a:hover {
    color:red;
}

a:active {
    background-color: grey;
}

li.precio::after {
    content: " €";
}

li.precio::before {
    content: "Precio:";
}

p::selection {
    background-color: red;
}

div.contenedor2 > div {
    border: 1px solid red;
}

#subtitol {
    color: green;
}

img + p {
    color: red;
}


input[name="email"] {
    background-color: beige;
}

h1[class="vermell"]{
    color:red;
}

img[src*="placekitten"] {
    border: 2px solid red;
}


div.caja {
    width: 40%;
    height: 280px;
    background-color: grey;
}

div.caja:hover {
 background-color:red;
}


img.oculta {
    display: none;
}

button:hover + img {
    display: block;
}