
h1.rojo {
    color: red;
}
div.bola{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
}
div.bola.rojo{
    background-color: red;
}
div.bola.azul{
    background-color: blue;
}

h1.verde{
    color: green;
}

img.borde {
    border: 1px solid red;
    padding: 10px;
    background-color: beige;
}