

body{
    background-color: beige;
    padding: 50px;
}

div.articulo{
    background-color: white;
    width: 250px;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

img.foto {
    width: 100%;
    border-radius: 10px;
}

div.like{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: red;
    position: absolute;
    top: 20px;
    right: 20px;
}