
div.fila{
    text-align: center;
}

div.fila i {
    font-size: 100px;
    padding: 25px 20px;
    color: white;
    margin: 10px;
}

i.bg-red {
    background-color: red;
}

i.bg-blue {
    background-color: blue;
}

i.bg-green {
    background-color: green;
}

i.bg-black {
    background-color: black;
}