

body {
    background-color: blue ;
}



div.caixa{

    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    display: inline-block;
    margin: 20px 5px;
    background-color: beige;
    position: relative;

}

img.foto {
    width: 100%;
    border-radius: 10px;
    border: 3px solid red;
  
}

h1.titol {
    color: red;
    font-size: 30px;
    margin: 0;
}
i.icona {
    font-size: 30px;
    color: red;
    position: absolute;
    top: 20px;
    right: 20px;
}

div.centre {
    text-align: center;
    border: 1px solid red;
    width: 600px;
}
